.flex-fill {
    height:100vh;
}

.pt-10{
    padding-top: 7vh;
}

.my-01{
    margin: 1px 0 1px 0;
}

.mt-10{
    margin-top: 7vh;
}

.mt-11{
    margin-top: 8.1vh;
}

.py-25{
    padding: 25vh 0 25vh 0;
}

.active{
    color: var(--color-active);
    cursor: default;
}