.flex-fill {
    height:100vh;
}

.pt-10{
    padding-top: 7vh;
}

.my-01{
    margin: 1px 0 1px 0;
}

.mt-10{
    margin-top: 7vh;
}

.mt-11{
    margin-top: 8.1vh;
}

.py-10{
    padding: 10vh 0 10vh 0;
}

.py-25{
    padding: 25vh 0 25vh 0;
}

.active{
    color: var(--color-active);
    cursor: default;
}

.bg-service-center{
    /* background: #343a40; */
    background: url("../images/backgroundServiceCenter.png");
    background-size: 100%, 100%;
}

.bg-service{
    background-size: 100%;
    padding: 5vh 10vh 20vh 10vh;
}

.color-gradient {
    color: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);;
}

.bg-icons{
    background-size: 100%;
    background-image: url("../images/backIcon.svg");
}

.bg-service-1{
    background-image: url("../images/backService1.png");    
}
.bg-service-2{
    background-image: url("../images/backService10.png");    
}
.bg-service-3{
    background-image: url("../images/backService18.png");    
}
.bg-service-4{
    background-image: url("../images/backService12.png");    
}
.bg-service-5{
    background-image: url("../images/backService5.png");    
}
.bg-service-6{
    background-image: url("../images/backService19.png");    
}
.bg-service-7{
    background-image: url("../images/backService14.png");    
}
.bg-service-8{
    background-image: url("../images/backService8.png");    
}
.bg-service-9{
    background-image: url("../images/backService9.png");    
}
.bg-service-10{
    background-image: url("../images/backService15.png");    
}
.bg-service-11{
    background-image: url("../images/backService11.png");    
}
