.flex-fill {
    height:100vh;
}

.pt-10{
    padding-top: 7vh;
}

.my-01{
    margin: 1px 0 1px 0;
}

.mt-10{
    margin-top: 7vh;
}

.mt-11{
    margin-top: 8.1vh;
}

.py-25{
    padding: 25vh 0 25vh 0;
}

.active{
    color: var(--color-active);
    cursor: default;
}

.bg-service-center{
    /* background: #343a40; */
    background: url("/Volumes/data/workspace/MyProjects/cource/frontend/src/images/backgroundServiceCenter.png");
    background-size: 100%, 100%;
}

.bg-service{
    /* background-image: url("/Volumes/data/workspace/MyProjects/cource/frontend/src/images/backService1.png"); */
    background-size: 100%;
    padding: 5vh 10vh 20vh 10vh;
}

.bg-service-1{
    background-image: url("/Volumes/data/workspace/MyProjects/cource/frontend/src/images/backService1.png");    
}
.bg-service-2{
    background-image: url("/Volumes/data/workspace/MyProjects/cource/frontend/src/images/backService10.png");    
}
.bg-service-3{
    background-image: url("/Volumes/data/workspace/MyProjects/cource/frontend/src/images/backService18.png");    
}
.bg-service-4{
    background-image: url("/Volumes/data/workspace/MyProjects/cource/frontend/src/images/backService12.png");    
}
.bg-service-5{
    background-image: url("/Volumes/data/workspace/MyProjects/cource/frontend/src/images/backService5.png");    
}
.bg-service-6{
    background-image: url("/Volumes/data/workspace/MyProjects/cource/frontend/src/images/backService19.png");    
}
.bg-service-7{
    background-image: url("/Volumes/data/workspace/MyProjects/cource/frontend/src/images/backService14.png");    
}
.bg-service-8{
    background-image: url("/Volumes/data/workspace/MyProjects/cource/frontend/src/images/backService8.png");    
}
.bg-service-9{
    background-image: url("/Volumes/data/workspace/MyProjects/cource/frontend/src/images/backService9.png");    
}
.bg-service-10{
    background-image: url("/Volumes/data/workspace/MyProjects/cource/frontend/src/images/backService15.png");    
}
.bg-service-11{
    background-image: url("/Volumes/data/workspace/MyProjects/cource/frontend/src/images/backService11.png");    
}
