.akt-box{
    max-width: 800px;
    margin: auto;
    padding: 30px;
    border: 1px solid #eee;
    font-size: 14px;
    line-height: 24px;
    font-family: 'Times New Roman', Times, serif;
}
.margin-top {
    margin-top: 50px;
}
.top-box{
    display: flex;
    flex-direction: row;
}
.top-box p {
    font-weight: 600;
    margin: 0px 0px 0px 10px;
}
.box-table{
    width: 100%;
}
table, th, td{
    border: 1px solid;
    border-collapse: collapse;
}