<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:postgresql://45.10.244.15:55532/work100022</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
      <property name="connection.username">work100022</property>
      <property name="connection.password">Zf#t*#o~~dSchp9nRj4R</property>
      <mapping class="com.backend.entities2.ConsumptionsEntity"/>
      <mapping class="com.backend.entities2.DefectTypesEntity"/>
      <mapping class="com.backend.entities2.DefectsEntity"/>
      <mapping class="com.backend.entities2.DeviceTypesEntity"/>
      <mapping class="com.backend.entities2.EmployesEntity"/>
      <mapping class="com.backend.entities2.OrderRequestsEntity"/>
      <mapping class="com.backend.entities2.OrdersEntity"/>
      <mapping class="com.backend.entities2.PartTypesEntity"/>
      <mapping class="com.backend.entities2.PurchasesEntity"/>
      <mapping class="com.backend.entities2.ServicesEntity"/>
      <mapping class="com.backend.entities2.StatusesRepairEntity"/>
      <mapping class="com.backend.entities2.UsersEntity"/>
      <mapping class="com.backend.entities2.VisitsEntity"/>
      <mapping class="com.backend.entities2.WorksEntity"/>
      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>